body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.calculator {
  width: 200px;
}

.display {
  margin-bottom: 5px;
}

#result {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #000;
}

button {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #000;
  background-color: #f0f0f0;
  cursor: pointer;
}

.operator {
  background-color: #add8e6;
}
