body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.calculator {
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: #4682b4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
  margin-bottom: 5px;
  grid-column: 1 / span 4;
}

#result {
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #000;
  background-color: #f0f0f0;
  text-align: right;
}

button {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.double {
  grid-column: span 2;
}

.empty {
  visibility: hidden;
}

.operator {
  background-color: #add8e6;
}
